      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:title, "展覧会タイトル") %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:subtitle, "サブタイトル") %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:venue, "会場名") %>
        <%= f.text_field :venue, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:description, "説明文") %>
        <%= f.text_area :description, class: 'form-control', rows:"4" %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
          画像
          <small class="form-text text-muted">
            jpeg、png、gif形式が登録可能です。
          </small>
        </div>
        <div class="form-group col-md-6" id="img-form-group">
          <label for="exhibition_image_0" class='input-label-image'>
          <%= f.file_field :images, name: 'exhibition_event[images][]', multiple: true, id:"exhibition_image_0", class: 'form-control border-0', accept:"image/jpeg,image/png,image/gif" %>
          </label>
        </div>
      </div>
      
      <div id="preview-area" class="preview-area"></div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
          <%= f.label(:start_date, "会期初日") %>
          <%= f.date_field :start_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
          <%= f.label(:end_date, "会期終了日") %>
          <%= f.date_field :end_date, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
          <%= f.label(:basic_open_time, "通常開館時刻") %>
          <%= f.time_field :basic_open_time, class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
          <%= f.label(:basic_close_time, "通常閉館時刻") %>
          <%= f.time_field :basic_close_time, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:close_day, "休館日") %>
        <%= f.text_field :close_day, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:special_open_day, "特別開館日") %>
        <%= f.text_field :special_open_day, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:admission, "入場料") %>
        <%= f.text_field :admission, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:address, "住所") %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:access, "アクセス") %>
        <%= f.text_field :access, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:phone_number, "電話番号") %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label(:url, "ウェブサイト") %>
        <%= f.text_field :url, class: 'form-control', placeholder:"https://" %>
      </div>
      <div class="form-group">
      <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:prefecture_id, "都道府県") %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:"form-control"} %>
        <small class="form-text text-muted">
          タグ表示用に選択ください
        </small>
      </div>