<%= render "shared/header" %>

  <div class="py-5 exhibition-lists">
    <h2 class="text-center mb-5">展覧会一覧</h2>
    <div class="d-flex justify-content-center flex-wrap">

    <% @exhibitions.each do |exhibition| %>
      <div class="card m-3 shadow exhibition-card">
        <%= image_tag exhibition.images[0], class: "card-img-top" %>
        <div class="card-body">
          <h5><%= link_to exhibition.title, exhibition_path(exhibition.id), method: :get, class: "card-title font-weight-bold stretched-link", data: {"turbolinks"=>false} %></h5>
          <p class="card-text font-weight-bold"><%= exhibition.venue %></p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：<%= exhibition.start_date %> - <%= exhibition.end_date %></p>
          <p class="mb-0 border rounded"><%= exhibition.prefecture.name %></p>
        </div>
      </div>
    <% end %>

    </div>
  </div>