<%= render "shared/header" %>

<main>
  <div class="top-contents">
    <h2 class="top-contents-copy">
      <span class="copy-text">展覧会を</span><span class="copy-text">探そう</span>
    </h2>
    <div class="top-search-wrapper col-lg-8 col-sm-10 mx-auto p-3 px-md-5">
      <%= form_with(scope: :search, url:search_exhibitions_path, method: :get, local: true) do |f| %>
        <div class="form-row">
          <div class="form-group col-md-2">
            <%= f.label(:prefecture_id, "エリア") %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:"form-control"} %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label(:open_date, "開館日") %>
            <%= f.date_field :open_date, value: Date.today, class: 'form-control' %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label(:open_time, "時刻") %>
            <%= f.time_field :open_time, value: "13:00", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:keyword, "展覧会タイトル") %>
          <%= f.text_field :keyword, placeholder: "展覧会タイトルを入力", class: 'form-control' %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "検索", class: "btn btn-warning px-5" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="py-5 exhibition-lists box-top-line">
    <h2 class="text-center mb-5">Exhibitions</h2>
    <div class="d-flex justify-content-center flex-wrap">
      <div class="card m-3 shadow">
        <%= image_tag "demo01.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
      <div class="card m-3 shadow">
        <%= image_tag "demo06_tate.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
      <div class="card m-3 shadow">
        <%= image_tag "demo01.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
      <div class="card m-3 shadow">
        <%= image_tag "demo06_tate", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
      <div class="card m-3 shadow">
        <%= image_tag "demo01.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
      <div class="card m-3 shadow">
        <%= image_tag "demo06_tate.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">鴻池朋子 ちゅうがえり</h5>
          <p class="card-text font-weight-bold">アーティゾン美術館</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <p class="mb-0">会期：2020.06.23 - 10.25</p>
          <p class="mb-0">東京</p>
        </div>
      </div>
    </div>
    <div class="text-center py-5">
      <%= link_to "展覧会情報一覧を見る", exhibitions_path , class: "btn btn-warning"%>
    </div>
  </div>

  <div class="bg-light text-center py-5">
    <h6 class="font-weight-bold">展覧会主催者の方へ</h6>
    <% unless organizer_signed_in? %>
      <p>会員登録をして展覧会情報を掲載しませんか？</p>
      <div class="organizer_info_contents">
        <%= link_to "新規会員登録", new_organizer_registration_path, class: "mr-3" %>
        <%= link_to "ログイン", new_organizer_session_path %>
      </div>
    <% else %>
      <div class="organizer_info_contents">
        <%= link_to "展覧会情報の新規投稿はこちら", new_exhibition_path %>
      </div>
    <% end %>
  </div>
</main>