<div class="row box-top-line">
  <div class="col-lg-6 col-sm-8 mx-auto px-4 mb-5">
    <div class="text-center">
      <%= link_to image_tag("artspotnavi_logo.png", class:"second-header-icon"), "/" %>
    </div>
    <h2 class="py-5">主催者ログイン</h2>
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:email, "メールアドレス") %>
        <%= f.email_field :email, id:"email", autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="indispensable mx-2 p-1 rounded-pill small">必須</span>
        <%= f.label(:password, "パスワード") %>
        <%= f.password_field :password, id:"password", autocomplete: "current-password", class: 'form-control' %>
      </div>
      <div class="form-group mt-5">
        <%= f.submit "ログイン", class: "btn btn-warning btn-block btn-lg" %>
      </div>
    <% end %>

    <%= render "organizers/shared/links" %>
  </div>
</div>
